html body {

    background-image: url("images/tail-body.gif");
    /*background-color: #75BBEC;*/
    font-family: Tahoma,Geneva,sans-serif;
}

/* Header */
#top-header{

    height: 42px;
    background-color: #3f3f3f;
    background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%); 
    background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: -o-linear-gradient(top, #696969 0%,#3f3f3f 100%);
    background-image: linear-gradient(top, #696969 0%,#3f3f3f 100%);
}

.first-child{

    float: left;
    width: 20%;
    height: 42px;
}

.second-child{

    float: left;
    width: 60%;
    height: 42px;
    padding-left: 100px;
}

.third-child{

    float: right;
    width: 13%;
    height: 42px;
    margin-top: 3px;
}

.logo-container{

    background: url("images/system_logo1.png") scroll no-repeat right top transparent;
    background-size: 60px;
    height: 60px;
    z-index: 9999;
}

.search-body{

    width: 75%;
    margin-left: 3.3%;
    float: left;
}

.custom-search-form{
    margin-top:3px;
}

button.btn.btn-default{

    height: 140%;
}

.search-advanced{

    width: 100px;
    float: left;
    margin-top: 25px;
}

.third-child img{

    width: 35px;
    height: 35px;
}

a{
    color: #D7D7D7
}


/* Body */
.panel {
   border-radius: 0px; 
}

.panel-default {

    border-color: #ddd;
    width: 70%;
    margin: auto;
    height: 1000px;
}

.panel-container {

    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}



/* Testing */
.xaxa{
    border : 1px solid black;
}

.xoxo{
    border: 1px solid blue;
}

.xixi{
    border: 1px solid red;  
}

.xexe{
    border: 1px solid orange;     
}