html body {font-family: "Comic Sans MS", cursive, sans-serif;}

body {
    
    background: url('../images/login_cover.jpg')no-repeat fixed;
    background-size: 100% 100%;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.inner-wrapper{

  	background: rgba(255,255,255,0.7);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0.701961);
    padding: 30px 40px;
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    
    -webkit-box-shadow: 0 6px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 6px 6px rgba(0,0,0,0.3);
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    zoom: 1;
    width: 475px;
    margin-top: -50px;
}

.outer-wrapper {

    position: relative;
    border: none;
    margin-top: 200px;
    margin-left: 450px;
}

.fieldgroup {

    position: relative;
    text-align: left;
    overflow: hidden;
}

span.error {

    font-size: 13px;
    line-height: 17px;
    color: #dd3737;
    font-weight: normal;
}

.button {

  	margin-top: 10px;
    margin-left: 240px;
  	width: 280px;
  	padding:5px 10px;
}

input.form-control{

    margin-top: 25px;
    margin-left: 70px;
    width: 80%;
}

a.label{

    font-size: 85%;
    margin-left: 75px;
    color: #337ab7;
}

div.logo{

    background: url('../images/logo.png') scroll no-repeat center top transparent;
    background-size: 100px;
    width: 100px;
    height: 100px;
}

.test-border{

    border : 1px solid red;
}

#this-profile{

    margin-left: 40px;
    margin-top: -50px;
}